.grid {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridItem {
  cursor: pointer;

  width: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;

  transition: all .2s ease-in-out;

  color: var(--theme-ui-colors-text);

  svg {
    fill: var(--theme-ui-colors-text);
    font-size: 3rem;
  }

  &:hover {
    color: var(--theme-ui-colors-primary-hover);
    text-shadow: var(--theme-ui-shadows-text);

    svg {
      fill: var(--theme-ui-colors-primary-hover);
    }
  }

  span {
    padding-top: 0.5rem;
  }
}

.rotate {
  height: 150px;

  svg {
    transform: rotate(90deg);
  }
}