.button {
  border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  background: none;

  position: relative;

  .content {
    padding: 1rem 2rem;
    pointer-events: none;
    z-index: 2;
    position: relative;

    color: #ffffff;
  }

  .background, .stencil {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: 4px;

    transition: all .2s ease-in-out;
  }

  &:hover .background, &:hover .stencil {
    transform: scale(1.1);
  }
}

[data-theme='dark'] {
  .button {
    &:hover .content {
      text-shadow: var(--theme-ui-shadows-text);;
    }

    .background {
      background: var(--theme-ui-colors-primary);
    }

    &:hover .background {
      background: var(--theme-ui-colors-primary-hover);
      box-shadow: var(--theme-ui-shadows-box);
    }
  }
}

[data-theme='light'] {
  .button {
    &:hover .content {
      text-shadow: var(--theme-ui-shadows-text);;
    }

    .background {
      background: var(--theme-ui-colors-secondary);
    }

    .stencil {
      background: var(--theme-ui-colors-primary);
      clip-path: polygon(0 0, 100% 0, 100% 70%);
    }
  }
}