:root {
  --theme-ui-colors-background: rgba(12,10,29,1.0);
  --theme-ui-colors-background-secondary: rgb(29, 18, 41);
  --theme-ui-colors-text: rgba(255,255,255,0.88);
  --theme-ui-colors-text-light: rgba(255,255,255,0.72);
  --theme-ui-colors-primary: rgba(111,76,255,0.88);
  --theme-ui-colors-primary-hover: rgba(111,76,255,1);
  --theme-ui-colors-secondary: rgba(111, 76, 255, 0.08);
  --theme-ui-colors-header: rgba(12, 10, 29, 0.878);
  --theme-ui-colors-border: #202020;
  --theme-ui-colors-error: #ED4A6D;
  --theme-ui-colors-success: #4BCA81;

  --theme-ui-shadows-box: 0 0 32px 0 rgb(88 47 213 / 32%), 0 0 8px 0 rgb(88 47 213 / 48%);
  --theme-ui-shadows-text: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);

  --theme-ui-size-h1: 6rem;
  --theme-ui-size-h2: 4rem;
}

[data-theme='light'] {
  --theme-ui-colors-background: rgb(250, 250, 250);
  --theme-ui-colors-background-secondary: rgb(245, 245, 245);
  --theme-ui-colors-text: rgba(0,0,0,0.88);
  --theme-ui-colors-text-light: rgba(0,0,0,0.72);
  --theme-ui-colors-primary: rgba(8,61,119,0.88);
  --theme-ui-colors-primary-hover: rgba(8,61,119,1);
  --theme-ui-colors-secondary: rgb(160,54,27);
  --theme-ui-colors-header: rgba(246,246,246,0.878);
  --theme-ui-colors-border: #D4D4D4;
  --theme-ui-colors-error: #A6465B;
  --theme-ui-colors-success: #439867;

  --theme-ui-shadows-box: 0;
  --theme-ui-shadows-text: 0;

  --theme-ui-size-h1: 6rem;
  --theme-ui-size-h2: 6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;

  background-color: var(--theme-ui-colors-background);
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p {
  display: block;
}

h1 {
  font-weight: 700;
  font-size: var(--theme-ui-size-h1);
  line-height: 1;
  letter-spacing: -2px;

  color: var(--theme-ui-colors-text);
  margin-bottom: 3rem;
  margin-top: 0rem;
}

[data-theme='dark'] {
  h1 {
    text-shadow: var(--theme-ui-shadows-text);
  }
}

h2 {
  font-weight: 700;
  font-size: var(--theme-ui-size-h2);
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -1.6px;

  color: var(--theme-ui-colors-text);
  margin-bottom: 1.2rem;
  margin-top: 0rem;
}

[data-theme='dark'] {
  h2 {
    text-shadow: var(--theme-ui-shadows-text);
  }
}

p {
  font-size: 1.5rem;
  color: var(--theme-ui-colors-text);
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

[data-theme='dark'] {
  p {
    text-shadow: var(--theme-ui-shadows-text);
  }
}

button {
  color: var(--theme-ui-colors-text);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.4px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--theme-ui-colors-text-light);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-live {
  textarea:focus {
    outline: none;
  }
}

.token-line {
  white-space: pre;
}