.header {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  transform: translateY(0%);
  opacity: 1;
  background-color: var(--theme-ui-colors-header);
  backdrop-filter: blur(2rem);
  border-bottom: 1px solid var(--theme-ui-colors-border);

  transition: all 0.5s;

  &.down {
    transform: translateY(-100%);
    opacity: 0;
  }

  padding: 1rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }

  a:not(.logo), button {
    margin: 0 0.5rem;
  }
}

.logo {
  margin-right: 1.5rem;
}